@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Lobster&display=swap');
#title {
    background-color: #fc8cbe;
}

.container-fluid {
    padding: 3% 15% 7%;
}




.titleimage {
    width: 20%;
    position: absolute;
    right: 23%;
}
.btn{
    width: 50%;
}
.btn:hover {
    background-color:  #0c1758;
    font-size: 20px;
}



.col-lg-6 h1 {
    padding-top: 10%;
    font-size: 3rem;
    font-family: 'Lobster', cursive;
    font-weight: 15px;
    line-height: 5rem;
    color: #0c1758;
}


/* navbar styling */

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    margin-right: 30rem;
}

.nav-link {
    color: #0c1758;
    margin-right: 2rem;
}

.nav-item{
    color: #0c1758;
}
.navbar {
    padding-top: 0;
    padding-bottom: 1.5rem;
    padding-left: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(12 23 88);
    font-size: 1.5rem;
    font-weight: 700;
}
/* navbar end  */

#pricing {
    text-align: center;
    padding: 6rem 11rem 6rem 11rem;
}

.colcard {
    padding: 3% 2%;
}
.colcard img{
    height: 300px;
    width: 267px;
}

